 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f9f9f9;

 }

 h2 {
   text-align: center;
   color: black;
 }

 .parent-cart {
   display: flex;
   justify-content: center;
   /* Centers horizontally */
   align-items: center;
   /* Centers vertically */
   min-height: 100vh;
   /* Ensures full height for vertical centering */
   margin: 0;

 }

 .cart-container {
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 10px;
   height: 100%;
   width: 500px;
   margin: auto;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 }

 .cart-item-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
 }

 .quantity-controls {
   display: flex;
   align-items: center;
   gap: 10px;
 }

 button {
  background-color: #8B0000; /* Dark Red */
   color: #ffffff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 18px;
 }

 button:hover {
   background-color: black
 }


 .total-clear-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   padding: 10px;
   border-top: 1px solid #ccc;
 }

 .total {
   font-size: 20px;
   font-weight: 600;
   color: #B22222;
 }

 #clearCartButton {
   background-color: black;
   color: white;
   padding: 8px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }



 .checkout-container {
   text-align: center;
   margin-top: 20px;
 }

 .continue-shopping {
   display: block;
   margin-top: 10px;
   font-size: 12px;
   font-weight: 600;
   color: darkred;
   text-decoration: underline;
   cursor: pointer;
 }

.continue-shopping:hover{
color: black;
}
